.inlineBlock{
    display:inline-block;
    vertical-align:top;
    flex: content;
}
.logo img{
    width:45px;
    padding:1%;
    height:50px;
    text-align:center;
}
p{
width:73%;
margin-left: auto;
font-family: 'Raleway', sans-serif;
}
.heroimg{
    height:600px;
    width:1000px;
    padding:25px;
    background-repeat:no-repeat;
    background-size:cover
}
.nav ul{
    justify-items:center;
    background-color: #EEE9F5;
    font-family: 'Raleway', sans-serif; 
    height:35px;
    padding:25px;
}
.content{
    width:500px;
    margin: 0 auto;
    flex-direction: column;
}
.content img{
justify-content: center;
}

.container button{
    height:50px;
    width:150px;
    background-color:#8B71ACE8;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;

}
.container button:hover{
   background-color:#d4bef1e8;
   color:black;
}
.about img{
    height:300px;
    width:500px;
}
.content img{
    height:300px;
    width:300px;
}
.flexContainer{
    display:flex;
    border:3px solid #c8b2e4e8;
    border-radius: 12px;
    box-shadow: 5px 10px #C2A8DF;
    justify-content:space-around;
    flex-direction: column;
}
.flexContainer h3 p{
    text-align: center;
}
.flexContainer img{
    display: flex;
    float: right;
    padding:8px;
    margin:0px;
    width:33%;
}
.flexContainer p{
    display: inline;
    float:right;
    padding:8px;
    margin:0px;
    width:33%;
    text-align: center;
    justify-content:flex-end;
}
.flexContainer h3{
    padding:8px;
    margin:0px;
    text-align: left;
    width:33%;
}
.workGrid{
    margin:0px 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "gsoc usda" "gsoc usda";
}
 h1{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.gsoc img{
    height:500px;
    width:200px;
    justify-content:center;

}
.gsoc{
    display:block;
    border:2px solid #c8b2e4e8;
    margin:30px;
    padding:6px;
    border-radius: 12px;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.usda{
    display:inline-block;
    margin:30px;
    padding:6px;
    border:2px solid #c8b2e4e8;
    border-radius: 12px;
    flex-direction: column;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.usda button{
    height:50px;
    width:150px;
    background-color: #8B71ACE8;
    color:white;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}
.usda img{
    height:500px;
    width:200px;
    float:center;
}
.workGrid img{
    float:center;
    
}

.gsoc button{
    height:50px;
    width: 150px;
    background-color: #8B71ACE8;;
    color:white;
    font-family: 'Raleway', sans-serif;
}
h3{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

footer{
    color: black;
    background-color:#EEE9F5;
    padding:25px;
}
ul{
    list-style-type: none;
    display:flex;
    vertical-align: top;
    margin:0;
    padding:0;
    justify-content:space-between;
    text-align:center;
    font-family: 'Raleway', sans-serif;
}
li{
    display:inline;
    justify-content: center;
    float:center;
}
@media only screen and (max-width:600px){
    .heroimg{
        height:50px;
        width:150px;
        padding:25px;
        background-repeat:no-repeat;
        background-size:cover
    }
    .workGrid{
        margin:0px 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr;
        grid-template-areas: 
        "myWork"
        "gsoc"
        "usda"
        ; 
    }
}